<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>구글 리젝 처리기</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/styles.css') }}">
</head>
<body>
    <nav class="nav-menu">
        <div class="nav-container">
            <a href="/" class="nav-button {{ 'active' if request.url.path == '/' }}">구글 리젝 처리기</a>
            <a href="/doublecheckGoogle" class="nav-button {{ 'active' if request.url.path == '/doublecheckGoogle' }}">구글 더블 체크</a>
            <a href="/doublecheckFacebook" class="nav-button {{ 'active' if request.url.path == '/doublecheckFacebook' }}">페북 더블 체크</a>
            <a href="/facebookSeedMaker" class="nav-button {{ 'active' if request.url.path == '/facebookSeedMaker' }}">페북 시드 생성기</a>
        </div>
    </nav>

    <h1 class="page-title">구글 리젝 처리기</h1>
    <div class="content-wrapper">
        <div class="main-content">
            <form action="/uploadfiles/" enctype="multipart/form-data" method="post">
                <div class="form-container">
                    <div class="form-content">
                        <div class="file-upload">
                            <input name="files" type="file" accept=".csv" multiple id="file-input">
                            <div id="file-list"></div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">처리하기</button>
                </div>
            </form>
        </div>
    </div>

    <script src="{{ url_for('static', path='/js/script.js') }}"></script>
</body>
</html>